:root {
    --clr-card:       #494242;
    --clr-card-hover: #993434;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#map {
  height: 100vh;
}

.leaflet-marker-icon {
  transition: 0.25s;
}
.leaflet-marker-icon:hover {
  filter: hue-rotate(145deg);
}

.leaflet-popup-content-wrapper {
  text-align: center !important;
}
.city-name {
  font-weight: 600;
}
.see-more {
  padding: 5px 10px;
  border: 1px solid darkgrey;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  transition: 0.25s;
}
.see-more:hover {
  background: #474350;
  color: #fff;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000080;
  z-index: 9999;
}
.modal-content {
  width: 90%;
  height: auto;
  padding: 10px 20px;
  background: #ffffff20;
  backdrop-filter: blur(4px);
  border-radius: 25px;
}
.modal-header {
  display: flex;
  padding: 5px 0;
}
#closeModal {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-left: auto;
  background: none;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: 0.25s;
}
#closeModal span {
  position: absolute;
  width: 19px;
  height: 3px;
  background: #b60f0f;
  pointer-events: none;
}
#closeModal:hover span {
  background: rgb(223, 14, 14);
}
#closeModal span:nth-child(1) {
  transform: rotate(45deg);
}
#closeModal span:nth-child(2) {
  transform: rotate(-45deg);
}

/* cards */
.cards {
    display: flex;
    gap: 50px;
    padding: 0 15px;
}
/* .card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 150px;
  height: 320px;
  border-radius: 10px;
} */
/* dynamic */
.hidden {
  display: none !important;
}



.card {
    position: relative;
    width: 300px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 3px var(--clr-card);
    background: #ffffff50;
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    user-select: none;
    transition: .25s;
    transform: rotateY(90deg);
    animation: appears .5s linear forwards;
    animation-delay: var(--i);
}
@keyframes appears {
    0% {
        transform: rotateY(90deg);
    }
    100% {
        transform: none;
    }
}

.card:hover {
    box-shadow: 0 0 3px var(--clr-card-hover);
    background: #ffffff80;
}
.card::before,
.card::after {
    content: '';
    position: absolute;
    width: 25%;
    height: 25%;
    transition: .25s;
    z-index: -1;
}

.card::before {
    top: -5px;
    left: -5px;
    border-top-left-radius: 15px;
    border-top: 9px solid var(--clr-card);
    border-left: 9px solid var(--clr-card);
}

.card::after {
    right: -5px;
    bottom: -5px;
    border-bottom-right-radius: 15px;
    border-right: 9px solid var(--clr-card);
    border-bottom: 9px solid var(--clr-card);
}

.card:hover::before,
.card:hover::after {
    border-color: var(--clr-card-hover);
    width: 85%;
    height: 85%;
}

.card > div {
  text-align: center;
}

.card img {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
  object-fit: contain;
}

.card div:first-child img {
  border-radius: 50%;
  box-shadow: 0 0 3px var(--clr-card);
  transition: .25s;
}

.card:hover div:first-child img {
    object-fit: cover;
    object-position: top;
}

.card:hover div:first-child img {
    box-shadow: 0 0 3px var(--clr-card-hover);
}

.card div:first-child h3 {
    transition: .25s;
}

.card:hover div:first-child h3 {
    letter-spacing: .05rem;
}
.card div:first-child p {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 0;
    transition: .25s;
}

.card:hover div:first-child p {
    background: var(--clr-card-hover);
    color: #d9d9d9;
}
.card div:first-child p::before {
    content: '';
    position: absolute;
    top: 0;
    width: 30%;
    height: 2px;
    background: var(--clr-card);
    transition: .25s;
}

.card:hover div:first-child p::before {
    width: 100%;
    background: var(--clr-card-hover);
}
.card h3 {
  margin: 0;
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.card p {
  margin: 5px 0;
  font-size: 16px;
  color: #666;
}

.card .small-img {
  width: 45px;
  height: 45px;
  margin-top: 10px;
  border-radius: 0;
  transform: scale(.85);
  transition: .25s;
}

.card:hover .small-img {
    transform: scale(1);
}

.card .social-medias {
    height: 50px;
    display: flex;
}
.card .social-medias a {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.github {
    background-image: url(/img/github-logo.png);
    background-size: 140%;
    background-position: center center;
}
.card .stacks {
    display: flex;
    justify-content: center;
    gap: 15px;
    border-radius: 0 0 7px 7px;
    transition: .25s;
}

.card:hover .stacks {
    background: var(--clr-card-hover);
}

.card:hover .stacks .mysql {
    filter: brightness(2);
}

@media screen and (min-width: 680px) {
    .modal-content {
      width: auto;
    }
  }